body {
   background-color: #0C0F0A;
}

.nav-list {
   display: flex;
   justify-content: center;
}

.nav-list > li {
   margin: 5rem 2rem 0.5rem 2rem;
}

.grid-container {
   display: grid;
   grid-template-columns: [col1-start] auto [col2-start] 37.5% [col3-start] 37.5% [col4-start] auto;
   grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row4-start] auto;
}

.grid-row-1 {
   grid-column: 1 / span 4;
   grid-row: row1-start / row2-start;
   background-color: #6b6d76;
}

.grid-row-2 {
   grid-column: 2 / span 2;
   grid-row: row2-start / row3-start;
   background-color: #F1F2EE;
}

#poke-header {
   display: flex;
}

.page-turn {
   width: 100%;
   background-color: red;
   text-align: center;
}

#current-pkmn {
   width: 100%;
   text-align: center;
}

.grid-row-3 {
   grid-column: 2 / span 2;
   grid-row: row3-start / row4-start;
   max-width: 1200px;
   background-color: #F1F2EE;

}

.grid-row-4 {
   grid-column: 2 / span 2;
   grid-row: row4-start / row5-start;
   background-color: #F1F2EE;
}

.grid-row-5 {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* may be able to remove above three properties if content permits */
   grid-column: 1 / span 4;
   grid-row: row5-start;
   background-color: #6b6d76;
}

.poke-card {
   background-color: #F1F2EE;
}